# Aplicação
NODE_ENV=development
PORT=3000

# Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=enerdata

# EIA API
EIA_API_KEY=SUA_CHAVE_AQUI
EIA_BASE_URL=https://api.eia.gov/v2
EIA_TIMEOUT_MS=10000

# Segurança
STATIC_JWT_SECRET=seu_token_estatico_super_secreto

# Throttler
THROTTLE_TTL=60
THROTTLE_LIMIT=30

# Cron
SYNC_CRON_EXPRESSION="0 * * * *"
